<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temperatura pieca</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Temperatura [℃]</h1>
    <table id="temperature">
      <tr>
        <th>Czas</th>
        <th>Czujnik piec</th>
        <th>Czujnik zewnętrzny</th>
      <tr>
        <%for(var a =0; a < 10; a++){ %>
          <tr>
            <td><%=a%></td>
            <td><%=a%></td>
            <td><%=a%></td>
          </tr>
        <%} %>
    </table>
    
    <script src="/js/script.js"></script>
  </body>
</html>